@layer components {
    .heading1 {
        @apply text-[56px] leading-[60px] font-bold;
    }

	.heading2 {
        @apply text-[48px] leading-[52px] font-bold;
    }

	.heading3 {
        @apply text-[40px] leading-[44px] font-bold;
    }

	.heading4 {
        @apply text-[32px] leading-[36px] font-bold;
    }

	.heading5 {
        @apply text-[24px] leading-[28px] font-bold;
    }

	.heading6 {
        @apply text-[20px] leading-[24px] font-bold;
    }

	.small-text{
		@apply text-[14px] leading-[22px];
	}

	.normal-text{
		@apply text-[16px] leading-[24px];
	}

	.medium-text{
		@apply text-[18px] leading-[26px];
	}

	.large-text{
		@apply text-[20px] leading-[28px];
	}

	.btn-long{
		@apply w-full h-[40px] bg-primary rounded-[10px] text-center text-white disabled:opacity-40
	}
	.btn-long-outline{
		@apply w-full h-[40px] border border-primary rounded-[10px] text-center text-primary disabled:opacity-40
	}

	.btn-medium{
		@apply w-full w-[282px] h-[40px] bg-primary rounded-[10px] text-center text-white disabled:opacity-40
	}
	.btn-medium-outline{
		@apply w-full w-[282px] h-[40px] border border-primary rounded-[10px] text-center text-primary disabled:opacity-40
	}

	.btn-short{
		@apply w-full w-[134px] h-[40px] bg-primary rounded-[10px] text-center text-white disabled:opacity-40
	}
	.btn-short-outline{
		@apply w-full w-[134px] h-[40px] border border-primary rounded-[10px] text-center text-primary disabled:opacity-40
	}

}
