
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    
  }

html {
    background:#F5F5F5;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 4rem;
	color: #3F434A;
	-webkit-tap-highlight-color: transparent;
}

button.swal2-confirm{
	background-color: #C6A533 !important;
	border: 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}






::-webkit-scrollbar {
	width: 6px;
	height: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #8A9099;
	border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #8A9099;
  }


