
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    
  }

html {
    background:#F5F5F5;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 4rem;
}

::-webkit-scrollbar {
	width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #8A9099;
	border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #8A9099;
  }


