
.menu_container-enter-from, .menu_container-leave-to{
	opacity: 0;
}

.menu_container-enter-active, .menu_container-leave-active{
	transition: all .5s ease;
}


.main_menu-enter-from, .main_menu-leave-to{
	transform: translateX(-100%);
}

.main_menu-enter-active, .main_menu-leave-active{
	transition: all .5s ease;
}





.modal_overlay-enter-from, .modal_overlay-leave-to{
	opacity: 0;
}

.modal_overlay-enter-active, .modal_overlay-leave-active{
	transition: all 1s ease;
}

.main_modal-enter-from, .main_modal-leave-to{
	opacity: 0;
	transform: translateY(100px);
}

.main_modal-enter-active, .main_modal-leave-active{
	transition: all .5s ease;
}


.main_side_modal-enter-from, .main_side_modal-leave-to{
	/* opacity: 0.5; */
	transform: translateX(100%);
}

.main_side_modal-enter-active, .main_side_modal-leave-active{
	transition: all .5s ease;
}


.drop_down-enter-from, .drop_down-leave-to{
	opacity: 0;
	transform: translateY(-20px);
}

.drop_down-enter-active, .drop_down-leave-active{
	transition: all .5s ease;
}





.tabs_transition-enter-from, .tabs_transition-leave-to{
	opacity: 0;
	transform: translateY(50px);
}

.tabs_transition-enter-active, .tabs_transition-leave-active{
	transition: all .5s ease-in-out;
}