:root {
	--primary: #44AF89;
	--secondary: #C6A533;
	--tertiary: #A1D890;
	--stroke: #E8E9EB;
	--light-gray: #B2B3B3;
	--dark-gray: #828282;
	--app-white: #F6F6F6;
	--app-black: #120A00;
	--success: #00AC45;
    --error: #FF3436;
    --warning: #F4ED48;
	--bold-text: #17343D;
}

